<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drabazha.speakout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpeakOutApplication"
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@mipmap/speak_out_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/speak_out_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeakOut">
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WinnerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TeamsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>